<!----> product 1
<html>
    <body>
        <img src="https://assets.sainsburys-groceries.co.uk/gol/8113767/1/640x640.jpg" alt="laundry pods" text-align: center>
        <p>
            Super concentrated laundry capsules with performance and stain removal to match the big brands...even on a cold wash. 
            With the UK's first 100% plastic-free packaging, switch to smol and you'll help save not just plastic but carbon and chemicals too.
        </p>
        <a href="web_design.html"> main menu </a>
            
          
    </body>

</html>